/*
 * MAIN
 */

#container {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	min-width: 700px;
	min-height: 600px;
	background-color: #262220;
}
#container #canvas {
	position: absolute;
	width: 900px;
	height: 500px;
	margin-top: -250px;
	margin-left: -450px;
	left: 50%;
	top: 50%;
	border: 5px solid black;
	border-radius: 3px;
}
#songTitle {
	position: absolute;
	width: 400px;
	height: 50px;
	top: 10px;
	right: 10px;
	color: white;
	font-family: sans-serif;
	font-size: 50px;
	z-index: 100000;
	font-style:italic;
}
/*
 * INSTRUCTIONS/CREDITS
 */
#instructions {
	margin-top: 265px;
	margin-left: -250px;
}
#credits {
	margin-top: 265px;
	margin-left: 100px;
}

.infobutton{
	position: absolute;
	width: 160px;
	height: 22px;
	margin-top: 265px;
	left: 50%;
	top: 50%;
	background-color: black;
	color: white;
	font-family: sans-serif;
	font-size: 17px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	z-index: 100000;
}
.infobutton:hover{
	background-color: white;
	color: #262220;
}
/*
 * SCENERY SELECTORS
 */
#scenerySelectorContainer {
	position: absolute;
	left: -100px;
	top: 0px;
	height: 100%;
	width: 80px;
}
.sceneSelector {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 0px;
	overflow: hidden;
}
.sceneSelector #trackInstrumentIndicator {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	background-color: black;
	border-radius: 3px;
}

.sceneSelector #trackTitle{
	width: 70px;
	height: 70px;
	margin: 5px;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	color: white;
	font-family: sans-serif;
	font-size: 18px;
	text-align: center;
}
.sceneSelector #sceneContainer {
	position: absolute;
	left: 80px;
	top: 0px;
	width: 480px;
	height: 80px;
}
.sceneSelector .sceneOption {
	margin: 5px;
	width: 70px;
	height: 70px;
	position: relative;
	float: left;
	cursor: pointer;
}
.sceneSelector .selected {
	position: relative;
	width: 66px;
	height: 66px;
	border: 2px solid white;
	border-radius: 2px;
}

#sceneContainer .sceneOption:hover {
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-moz-transform: scale(1.1);
}
.sceneSelector #green {
	background-image: url("./thumbs/thumb_test_green.png");
}
.sceneSelector #cave {
	background-image: url("./thumbs/thumb_cave.png");
}
.sceneSelector #space {
	background-image: url("./thumbs/thumb_space.png");
}
.sceneSelector #swamp {
	background-image: url("./thumbs/thumb_swamp.png");
}
.sceneSelector #underwater {
	background-image: url("./thumbs/thumb_underwater.png");
}
/*
 * LOADING
 */
 #loadingScreen {
 	z-index: 10000;
 	width: 100%;
 	height: 100%;
 	background-color: #262220;
 	position: absolute;
 	top: 0px;
 	left: 0px;
 	opacity: 1;
 }
 #loadingScreen #progressContainer {
 	position: absolute;
 	border: 2px solid white;
 	border-radius: 5px;
 	width: 500px;
 	height: 100px;
 	top: 50%;
 	left: 50%;
 	margin-left: -250px;
 	margin-top: -50px;
 }

 #loadingScreen #loadedArea {
 	position: absolute;
 	height: 100%;
 	width: 0%;
 	top: 0px;
 	left: 0px;
 	background-color: white;
 }

 #loadingScreen #playButton{
 	position: absolute;
 	height: 100%;
 	width: 100%;
 	top: 0px;
 	left: 0px;
 	color: #262220;
 	font-family: sans-serif;
 	font-size: 80px;
 	text-align: center;
 	cursor: pointer;
 }

  #loadingScreen #playButton:hover{
 	background-color: #262220;
 	color: white;
 }
